<%- include ('./partials/header.ejs') %>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="page-wrapper chiller-theme toggled">
                <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
                    <i class="fas fa-bars"></i>
                </a>
                <%- include ('./partials/navbar.ejs') %>
            </div>
            <div class="col-lg-11">
                <div class="container p-5">
                    <div class="card">
                        <div class="card-header text-light bg-dark">
                            <div class="row">
                                <div class="col">
                                    <h3>Plano de Discagem</h3>
                                </div>
                                <div class="col">
                                    <a href="./new" class="btn btn-primary float-right">Novo Plano</a>
                                </div>
                            </div>
                        </div>
                        <div class="body-card p-2">
                            <% if(dialplan){%>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Contexto</th>
                                        <th>Mascára</th>
                                        <th>Qtd. Procedimentos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% dialplan['brief'].forEach( dlp => {%>
                                    <tr>
                                        <td><a href="./edit?context=<%=dlp.context%>"><%=dlp.context%></a></td>
                                        <td><a href="./edit?context=<%=dlp.context%>&exten=<%=dlp.exten%>"><%=dlp.exten%></a></td>
                                        <td><%=dlp.procs%></td>
                                    </tr>
                                    <%})%>
                                </tbody>
                            </table>
                            <%}else{%>
                            <div class="alert alert-danger alert-dismissible fade show">
                                <h4 class="alert-heading"><i class="fa fa-warning"></i> Erro!</h4>
                                <p>Ocorreu uma falha ao tentar obter os dados.</p>
                            </div>
                            <%}%>     
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>