<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Ramais</h3>
            </div>
            <div class="body-card p-2">
                <% if(typeof response === 'object'){%>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Ramal</th>
                            <th>Nome</th>
                            <th>Contexto</th>
                            <th>Grupo</th>
                            <th>Dispositivo</th>
                            <th>Última utilização</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    <%response.forEach( ext => { 
                        var status = (ext.user_agent)?'Ativo':'Inativo';
                    %>
                        <tr>
                            <td><%=ext.extension%></td>
                            <td><%=ext.callerid%></td>
                            <td><%=ext.context%></td>
                            <td><%=ext.named_call_group%></td>
                            <td><%=ext.user_agent%></td>
                            <td><%=ext.last_use%></td>
                            <td><%=status%></td>
                        </tr>
                    <% })%>
                    </tbody>
                </table>
                <%}else{%>
                    <p><%=response%></p>
                <%}%>     
            </div>
        </div>
    </div>
</body>
