<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Ramais</h3>
            </div>
            <div class="body-card p-2">
                <% if(extensions){%>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Ramal</th>
                            <th>Nome</th>
                            <th>Contexto</th>
                            <th>Dispositivo</th>
                            <th>Última utilização</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% extensions.forEach( ext => {%>
                        <tr>
                            <td><a class="text-info" href="http://localhost/extensions/edit?id=<%=ext.extension%>"><%=ext.extension%></a></td>
                            <td><%=ext.callerid%></td>
                            <td><%=ext.context%></td>
                            <td><%=ext.user_agent%></td>
                            <td><%=ext.last_use%></td>
                            <td><%=ext.status%></td>
                        </tr>
                        <%})%>
                    </tbody>
                </table>
                <%}else{%>
                    <div class="alert alert-danger alert-dismissible fade show">
                        <h4 class="alert-heading"><i class="fa fa-warning"></i> Erro!</h4>
                        <p>Ocorreu uma falha ao tentar obter os dados.</p>
                    </div>
                <%}%>     
            </div>
        </div>
    </div>
</body>
